<p id="notice"><%= notice %></p>

<table>

  </head>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"><%= @project.title %></h1>
        </div>
      </div>

    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>

    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %>
  </main>
</table>

<br>
